{% extends 'base.html' %} 
{% block head_title %} Twittexample {% endblock head_title %} 

{% block content %} 
<div class="row text-center">
   <div class="col">
      <h1>Welcome to Twittexample</h1>
   </div>
</div>

<div class="row mb-3">
   <div class="col-md-4 mx-auto col-10">
      <form class="form" id="tweet-create-form" method="POST" action="/create_tweet">
         {% csrf_token %}
         <input type="hidden" value="/" name="next">
         <textarea class="form-control" name="content" placeholder="Your tweet..." ></textarea>
         <button type="submit" class="btn btn-primary">Tweet</button>
      </form>
   </div>
</div>

<div class="row" id='tweets'>
   Loading...
</div>

<script>

   function handleTweetCreateFormDidSubmit(e) {
      e.preventDefault();
      const myForm = e.target;
      const myFormData = new FormData(myForm);
      const url = myForm.getAttribute('action');
      const method = myForm.getAttribute('method');
      const xhr = new XMLHttpRequest();
      xhr.open(method, url);
      xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
      xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');

      xhr.onload = () => {
         const serverResponse = xhr.response;
         const tweetsEl = document.getElementById('tweets');
         loadTweets(tweetsEl);
      }
      xhr.send(myFormData);
   }

   const tweetCreateFormEl = document.getElementById('tweet-create-form');

   tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit);


   const tweetsEl = document.getElementById('tweets');

   function loadTweets (tweetsElement) {
      const xhr = new XMLHttpRequest();
      const method = 'GET';
      const url = '/tweets';
      const responseType = 'json';

      xhr.responseType = responseType;
      xhr.open(method, url);

      xhr.onload = () => {
         const serverResponse = xhr.response;
         let listedItems = serverResponse.response;
         var finalTweetStr = '';
         let i;
         for (i = 0; i < listedItems.length; i++) {
            let tweetObj = listedItems[i];
            let currentItem = formatTweetElement(tweetObj);
            finalTweetStr += currentItem;
         }

         tweetsElement.innerHTML = finalTweetStr;
      };

      xhr.send();
   }

   loadTweets(tweetsEl);
   
   

   function handleDidLike(tweet_id, currentCount) {
      currentCount++;
      return currentCount;
   }

   function LikeBtn(tweet) {
      return (
         `<button class='btn btn-primary btn-sm' onClick=${handleDidLike( tweet.id, tweet.likes )}>
         ${tweet.likes} Like</button>`
      );
   }

   function formatTweetElement(tweet) {
      let formattedTweet =
         `<div class='col-10 col-md-10 mx-auto py-3 border rounded mb-4 tweet' id='tweet-${tweet.id}'> 
            <p>${tweet.content}</p> 
            <div class='btn-group'>
               ${LikeBtn(tweet)}
            </div> 
         </div>`;
      return formattedTweet;
   }

   
</script>
{% endblock content %}
